*{
    box-sizing: border-box;
}
.style-element{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    color: black;
}
.bck{
    background-color: grey;
}
.bck2{
    background-color: white;
}
.clr{
    color: darkslategray;
}
div>div>p{
    font-size: 1.5em;
    color: black;
}
p{
    color: black;
}
h5{
    color: black;
}
h2{
    color: darkslategray;
    margin-bottom: 20px;
}
.content{
    text-align: center;
    background-color: grey;
    padding-bottom: 10px;
}
h3{
    padding-bottom: 20px;
    margin-bottom: 0px;
    color: black;
}